aiofiles==25.1.0
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
bcrypt==4.0.1
click==8.3.2
colorama==0.4.6
fastapi==0.135.3
h11==0.16.0
idna==3.11
iso8601==2.1.0
packaging==26.0
passlib==1.7.4
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
PyJWT==2.12.1
pypika-tortoise==0.6.5
python-dotenv==1.2.2
python-multipart==0.0.26
starlette==1.0.0
tortoise-orm==1.1.7
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.44.0
